<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  https://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <!-- <add name="DefaultConnection" connectionString="Server=DESKTOP-FUCGR8I\SQLEXPRESS;database=EVOLIO_MENU;uid=sa;pwd=qinhaoyu;"/>-->
    <add name="DefaultConnection" connectionString="Server=172.31.217.85;database=EVOLIO_MENU;uid=sa;pwd=ntmcpm010;"/>
    <!--<add name="DefaultConnection" connectionString="Server=172.31.229.120;database=EVOLIO_MENU;uid=sa;pwd=ntmcpm001;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="MainTitleEng" value="EVOLIO INFORMATION"/>
    <add key="SubTitleEng" value="Welcome to EVOLIO, no information for maintenance."/>
    <add key="MainTitleJpn" value="エボリオ情報"/>
    <add key="SubTitleJpn" value="こんにちは！今はメンテナンス予定がありません。"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
